.container {
    display: flex;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.col-1 {
    flex-basis: calc((100% / 12) * 1);
    max-width: calc((100% / 12) * 1);
}

.col-2 {
    flex-basis: calc((100% / 12) * 2);
    max-width: calc((100% / 12) * 2);
}

.col-3 {
    flex-basis: calc((100% / 12) * 3);
    max-width: calc((100% / 12) * 3);
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
    max-width: calc((100% / 12) * 4);
}

.col-5 {
    flex-basis: calc((100% / 12) * 5);
    max-width: calc((100% / 12) * 5);
}

.col-6 {
    flex-basis: calc((100% / 12) * 6);
    max-width: calc((100% / 12) * 6);
    
}

.col-7 {
    flex-basis: calc((100% / 12) * 7);
    max-width: calc((100% / 12) * 7);
}

.col-8 {
    flex-basis: calc((100% / 12) * 8);
    max-width: calc((100% / 12) * 8);
}

.col-9 {
    flex-basis: calc((100% / 12) * 9);
    max-width: calc((100% / 12) * 9);
}

.col-10 {
    flex-basis: calc((100% / 12) * 10);
    max-width: calc((100% / 12) * 10);
}

.col-11 {
    flex-basis: calc((100% / 12) * 11);
    max-width: calc((100% / 12) * 11);
}

.col-12 {
    flex-basis: calc((100% / 12) * 12);
    max-width: calc((100% / 12) * 12);
}

.col-2-nav {
    flex-basis: calc((100% / 12) * 2);
    max-width: calc((100% / 12) * 2);
    height: calc(100% - 120px);
}

.col-4-studenti {
    display: flex;
    flex-direction: column;
    flex-basis: calc((100% / 12) * 4);
    max-width: calc((100% / 12) * 4);
    height: 100%;
}

.col-4-todo {
    flex-basis: calc((100% / 12) * 12);
    max-width: calc((100% / 12) * 12);
    height: 80vh;
    flex-wrap: wrap;
}

.col-6-pagine {
    flex-basis: calc((100% / 12) * 6);
    max-width: calc((100% / 12) * 6);
    height: 100%;
    flex-grow: 1;
}

.col-8-classi {
    flex-basis: calc((100% / 12) * 12);
    max-width: calc((100% / 12) * 12);
    flex-wrap: wrap;
}

.col-11-main {
    position: relative;
    flex-basis: calc((100% / 12) * 11);
    max-width: calc((100% / 12) * 11 - 10.25px);
    height: calc(100% - 70px);
    flex-wrap: wrap;
}

.col-12-barmain {
    display: flex;
    flex-basis: calc((100% / 12) * 12);
    max-width: calc((100% / 12) * 12);
    height: calc(25% - 40px);
}

.containermaindx {
    flex-basis: calc((100% / 12) * 4);
    max-width: calc((100% / 12) * 4);
    height: 100%;
}

.containermainsx {
    flex-basis: calc((100% / 12) * 8);
    max-width: calc((100% / 12) * 8);
    height: 100%;
}